################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPUTraceRegex/CPUTraceRegex/bin/Debug
/CPUTraceRegex/CPUTraceRegex/bin/Release
/CPUTraceRegex/CPUTraceRegex/obj/Debug
/CPUTraceRegex/CPUTraceRegex/obj/Release
